:root{
    --Cor_Font:#000;
    --Cor_Font2:#fff;
    --Cor_Font3:#5fcaff;
    --Cor_Font4:#e3e3e3;

    --Font_Family: "Source Sans 3", sans-serif;;
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: var(--Font_Family);
    font-weight: bolder;
    color: var(--Cor_Font2);
    background-color: var(--Cor_Font);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Cor_Font);
    border-bottom: 1px solid var(--Cor_Font4);
}
#linkLogo{
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 0px;
    font-size: 18px;
    color: var(--Cor_Font2);
    margin-right: 45%;
    height: 100%;
}
#linkLogo:hover{
    color: var(--Cor_Font3);
    transition: 0.3s;
}
#linkLogo img{
    width: 50px;
    margin: 0px 15px 0px 0px;
    border-radius: 100px;
}
header a{
    font-size: 16px;
    color: var(--Cor_Font2);
    text-decoration: none;
}
header label, input{
    font-size: 20px;
    display: none;
}
header nav{
    background-color: var(--Cor_Font);
}
header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav ul li a{
    padding: 30px 0px 30px 0px;
    margin: 0px 60px 0px 0px;
    color: var(--Cor_Font2);
}
header nav ul li a:hover{
    transition: 0.3s;
    color: var(--Cor_Font3);
}